.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
.vscode
.github
.env
homework_1/ehthumbs.db
homework_1/Thumbs.db
homework_1/_config.yml
homework_1/node_modules/
homework_1/yarn.lock
homework_1/package-lock.json