nav{
    height: 70px;
    border-top: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
}
.nav_container{
    @include container();
    height: 100%;
    &_row{
        height: 100%;
        @include row-flex();
        @include md(justify-content, space-evenly);
        @include md(align-items, center);
        &_burger{
            @include col();
            @include size-xl(3);
            @include size-lg(3);
            @include size-md(2);
            @include size-sm(2);
            @include size(2);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img{
                width: 14px;
                height: 13px;
            }
        }
        &_menu{
            @include col();
            @include size-xl(6);
            @include size-lg(6);
            @include size-md(8);
            @include size-sm(8);
            @include size(7);
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                list-style: none;
                font-family: Lato;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                text-transform: uppercase;
                letter-spacing: normal;
                text-align: center;
                a{
                    text-decoration: none;
                    color: #111111;
                }
                a:hover{
                    color: #68899a;
                    transition: 0.3s;
                }
            }
        }
        &_search{
            @include col();
            @include size-xl(3);
            @include size-lg(3);
            @include size-md(2);
            @include size-sm(2);
            @include size(3);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            img{
                cursor: pointer;
                width: 14px;
                height: 13px;
            }
            hr{
                height: 25px;
                margin: 0px 20px 0px 20px;
                border: 1px dashed #cccccc;
            }
        }
    }
}